/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  result: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.result {
  height: 70px;
  background-color: rgb(49, 43, 43);
  width: 100%;
  font-size: 50px;
  margin: 0px;
  text-align: justify;
}

p {
  font-size: 40px;
  margin: 5px;

}

.calculator {
  max-width: 400px;
  margin-top: 10%;
  margin-left: 40%;
}

.buttons {
  display: block;
  background-color: darkgray;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}

.buttons .orange {
  color: azure;
  background-color: orange;
}

.O {
  width: 200px;
}